.home{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url(https://previews.123rf.com/images/yurolaitsalbert/yurolaitsalbert1603/yurolaitsalbert160300132/55813490-modern-and-stylish-laptop.jpg);
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: center;
    background-position: center;
    color:rgb(243, 141, 9);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.products{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url(https://previews.123rf.com/images/balora/balora1903/balora190300004/120981148-abstract-geometric-blue-background-concept-modern-digital-technology-template-design-poster-banner-b.jpg);
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: center;
    background-position: center;
}
.reports{
    display:flex;
    justify-content:center;
    align-items:center;
    color:brown;
    background-image: url(https://lh3.googleusercontent.com/proxy/Ul4e-AE-SHftVB_MKucu7P1XsLXwc7LOXLTeZh6AlC04f4mn8sVMI3PWQ0-DV3fkLwLGrPHhoMJo3HMCv5oIhW0IsYN3jAjO6Xdg0dVCvpzuefMV8r913wfqcg1eu7NnA3BUq2svMvnnq4WfWgfc3QrtEw);
    min-width: 100%;
    position :fixed;
    min-height: 100%;
    background-size: center;
    background-position: center;
}
.team{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url(https://previews.123rf.com/images/maudis60/maudis601510/maudis60151000155/46485482-vector-background-teamwork-hands-crossed.jpg);
    position :fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: center;
    background-position: center;

}
.help{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url(https://i.pinimg.com/originals/22/4e/4c/224e4c700ad00ed1dbbb98e6da6d6ef1.jpg);
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-size: center;
    background-position: center;

}
.message{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url(https://png.pngitem.com/pimgs/s/139-1397202_imessage-iphone-text-messaging-transparent-background-bubble-message.png);
    position :fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: center;
    background-position: center;
    color:crimson;
    
}